//========== modal ============
.modal-contacts#modal-contacts.mfp-hide
    button(type="button").modal-close
    form(action='#' method="post").contacts-form
        h5.contacts-form__header Оставьте свои контакты
        p.contacts-form__notify-text и мы свяжемся с вами в течении 5 минут
        input(type="text" placeholder="Ваше имя").contacts-form__input
        input(type="tel" placeholder="Ваш номер телефона").contacts-form__input
        button(type="submit").btn.contacts-form__send-btn Вызвать мастера

//===== End of modal ==========