//========== modal ============
.modal-contacts#modal-order.mfp-hide
    button(type="button").modal-close
    form(action='#' method="post").contacts-form
        h5.contacts-form__header Оставьте свои контакты
        p.contacts-form__notify-text и мы свяжемся с вами в течении 5 минут
        input(type="text" placeholder="Ваше имя").contacts-form__input
        input(type="tel" placeholder="Ваш номер телефона").contacts-form__input
        button(type="submit").btn.contacts-form__send-btn Вызвать мастера

.modal-contacts#modal-vacancies.mfp-hide
    button(type="button").modal-close
    form(action='#' method="post").contacts-form
        h5.contacts-form__header Заполните форму
        p.contacts-form__notify-text и мы свяжемся с вами в течении 5 минут
        input(type="text" placeholder="Ваше имя").contacts-form__input
        input(type="tel" placeholder="Ваш номер телефона").contacts-form__input
        button(type="submit").btn.contacts-form__send-btn Оформить заявку

.modal-contacts#modal-cooperation.mfp-hide
    button(type="button").modal-close
    form(action='#' method="post").contacts-form
        h5.contacts-form__header Заполните данные
        p.contacts-form__notify-text и мы свяжемся с вами в течении 5 минут
        input(type="text" placeholder="Ваше имя").contacts-form__input
        input(type="tel" placeholder="Ваш номер телефона").contacts-form__input
        button(type="submit").btn.contacts-form__send-btn Оформить заявку

.modal-contacts#modal-contacts.mfp-hide
    button(type="button").modal-close
    form(action='#' method="post").contacts-form
        h5.contacts-form__header Наши контакты
        p.contacts-form__notify-text пишите в любое время суток
        .social-modal
            a(href="#").ic.ic_whatsapp.social-modal__link
            a(href="#").ic.ic_insta.social-modal__link
            a(href="#").ic.ic_vk.social-modal__link



//===== End of modal ==========