//========== Prelosder ============
script(type='text/javascript').
    document.querySelector('body').style.overflow = 'hidden';

.preloader
    .preloader__circle-wrap
        .windows8
            #wBall_1.wBall
                .wInnerBall
            #wBall_2.wBall
                .wInnerBall
            #wBall_3.wBall
                .wInnerBall
            #wBall_4.wBall
                .wInnerBall
            #wBall_5.wBall
                .wInnerBall
//===== End of Prelosder ==========